.yt-core-image--fill-parent-width {
    width: 100%;
    filter: blur(15px);
}
.yt-core-image--fill-parent-width:hover {
    width: 100%;
    filter: blur(0px);
}
.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(14px);
}
.ytp-cued-thumbnail-overlay-image:hover {
    filter: blur(0px);
}
